<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Online Voting System</h2>

    <form method="POST">
        <input type="text" name="voter_id" placeholder="Enter Voter ID" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
    </form>

    <!-- Register link -->
    <a href="/register">🆕 New User? Register Here</a>

    <!-- Admin login -->
    <a href="/admin">👑 Admin Login</a>
</div>

</body>
</html>